.form-container{
    background-color: rgb(225, 222, 222);
    text-align: center;


}

.row, .row2, .row-address, .row-dob,.row-sports, .services{
    background-color: rgb(225, 222, 222);
    padding: 5px  57px;
    text-align: left;


    
    
}
.row{
    display: flex;

}
.row2{
    display: flex;
    justify-content: space-between; 

}

.row input,.row-address input, .row-dob input{
    width: 96%;
    padding: 10px;
}

.row2 input{
    width : 43%;
    padding: 10px;

}

.row-address p, .row-dob p{
    text-align: left;
} 

.row-address input{
    padding-bottom: 30px;

}
.button{
    padding: 10px 57px;
}
button{
    padding:10px;
    width: 100%;
    color: aliceblue;
    background-color: green;
    border: none;
    border-radius: 3px;
}
.row input,.row-address input, .row-dob input,.row2 input{

    border-radius: 4px;
    border: 2px solid rgb(183, 179, 179);

}